*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to left, rgb(164, 194, 145), rgb(105, 84, 163));
}

.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: minmax(120px, auto) repeat(4, 100px);
}

.calculator > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px, solid #ffffff;
  outline: none;
  background-color: rbga(255, 255, 255, 0.75);
}

.calculator > button:hover {
  background-color: #a9a9a9;
  border: none;
}

.two_space {
  grid-row: span 2;
  color: #ffffff;
  background-color: rgba(85, 83, 185, 0.836);
  border: none;
}

.clear {
  background-color: rgba(211, 58, 58, 0.836);
  border: none;
}

.calculator__display {
  grid-column: 1 / -1;
  background-color: rgba(19, 19, 19, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.calculator__display .previous_value {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.calculator__display .current_value {
  color: white;
  font-size: 2.5rem;
}
